<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ster_lenovo.cadernocamera">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="CadernOnline"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaCadernoActivity"
            android:label="Cadernos" />
        <activity
            android:name=".InstituicaoActivity"
            android:label="Instituições" />
        <activity
            android:name=".NovoCadernoActivity"
            android:label="Caderno" />
        <activity
            android:name=".AssuntosActivity"
            android:label="Assuntos"></activity>
    </application>

</manifest>